doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.center
      script
        include ../public/javascripts/plot.js
      iframe(id="scaled-frame" width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~KGMenear/2.embed" display="block")
